<!-- Page Content -->
<div id="page-content-wrapper">

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom d-none d-lg-block">
    <button class="btnNavbar btn btn-info fas fa-angle-double-left" id="menu-toggle"></button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link  nav-link text-info" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small"><i
                class="far fa-user-circle fa-lg fa-fw mr-2 text-gray-600"></i></span>
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

            <ul class="list-group">

              <li class="list-group-item border-0">
                  <span class="fas fa-user-shield text-info"> </span> Supervisor Extrusion
                <ul class="list-group">
                  <li class="list-group-item border-0">
                    <a class="dropdown-item" href="/cargaProgramacion">
                      <span class="fas fa-table text-info"> </span>
                      Carga de programacion
                    </a>

                    <a class="dropdown-item" href="/editarProgramacion">
                      <span class="fas fa-edit text-info"> </span>
                      Editar Programacion
                    </a>

                    <a class="dropdown-item" href="/etiquetasImpresas">
                      <span class="fas fa-check-square text-info"> </span>
                      Seriales Impresos
                    </a>
                  </li>
                </ul>

                <span class="fas fa-user-shield text-secondary"> </span> Supervisor Procesos
                <a class="dropdown-item" href="http://tftdelsrv001:3010/consulta_extrusion">
                  <span class="fas fa-table text-secondary"> </span>
                  Carga de Base de datos
                </a>
              </li>

            </ul>

          </div>
        </li>
      </ul>
    </div>

  </nav>